<h1>Skeleton Backend</h1>

<% if(user){ %>
<h2><%= user.name %></h2>
<p><%=user.email%></p>
<% }else{ %>
<p>No User Logged in.</p>
<%}%>

<a href="/auth/login"><button>Login</button></a>
<a href="/auth/signup"><button>Sign up</button></a>
<a href="/auth/logout"><button>Logout</button></a>
