<h1>Login</h1>
<form action="/auth/login" method="POST">
  <div class="form-field">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div class="form-field">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <button type="submit">Login</button>
</form>
<a href="/auth/signup"><button>Sign up</button></a>
<a href="/auth/logout"><button>Logout</button></a>
